@import "tailwindcss";
@import "@flaticon/flaticon-uicons/css/all/all";

html::-webkit-scrollbar, body::-webkit-scrollbar,.scroller::-webkit-scrollbar {
  display: none;
}
html, body {
  height: 100%;
  margin: 0;
}


@keyframes moveX {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(0.25rem); } /* moves 1 unit (~4px) */
}
.active{
  background-color:#D4AF37;
  border-radius: 20px;
  padding-left:6px;
  padding-right:6px;
  display: flex;
  align-items: center;
  color:#000000;
}
body{
    background: radial-gradient(#2B2B2B, #1A1A1A);

}
h1, h2, .logo {
  font-family:'Playfair Display', serif;
  letter-spacing: 1px;
}

body,p {
  font-family: 'Poppins', sans-serif;
}
.sha{
    box-shadow: 0 0 20px rgba(179, 139, 89, 0.3);

}